extends layout/main

block variables
	- const title = 'Main';
	- const description = 'Description'
	- const pageClass = 'main-page'

block content
	section.heroimage
		.container
			h1 heroimage
			img(src="../../images/aiva2.jpg")
